#nav-bar {
    position: fixed;
    margin-top: 0px;
}
* {
    background-color: #d3cfce;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  h2, p {
    font-family: 'Raleway', sans-serif;
  }
  a {
    text-decoration: none;
    color: linen;
  }
  #hero {
    grid-column: 1 / -1;
    position: relative;
    text-align: center;
  }
  header {
  justify-content: flex-end;
  position: positioned;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  width: 100%;
  top: 0;
  left: 0;
    padding: 1em;
  
  }
  @media only screen and (max-width: 720px) {
    .image-wrapper {
      grid-template-columns: 1fr;
    }
    i {
      color: yellow;
    }
    #submit {
      background-color: yellow;
    }
    input {
      font-weight: bold;
      font-szie: 15;
    }
    @media only screen and (max-width: 720px) {
        .image-wrapper {
          grid-template-columns: 1fr;
        }
        i {
          color: yellow;
        }
        #submit {
          background-color: yellow;
        }
        input {
          font-weight: bold;
          font-szie: 15px;
        }
    }
  
  /* Create three columns of equal width */
  .columns {
    
    width: 70.3%;
    padding: 10px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
    .header-img{
        width: 570px;
    }
}
}